annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
cairocffi==1.7.1
CairoSVG==2.9.0
certifi==2026.5.20
cffi==2.0.0
click==8.4.1
cssselect2==0.9.0
defusedxml==0.7.1
Deprecated==1.3.1
fastapi==0.139.0
flake8==7.3.0
h11==0.16.0
httpcore==1.0.9
httpcore2==2.5.0
httptools==0.8.0
httpx==0.28.1
httpx2==2.5.0
idna==3.18
image2 @ git+https://github.com/c0dezer019/image2.git@575f9894cc72fc5165da79904d359403f25d3c93
iniconfig==2.3.0
limits==5.8.0
mccabe==0.7.0
packaging==26.2
pillow==12.2.0
pluggy==1.6.0
pycodestyle==2.14.0
pycparser==3.0
pydantic==2.13.4
pydantic_core==2.46.4
pyflakes==3.4.0
Pygments==2.20.0
pyperclip==1.11.0
pytest==9.1.1
python-dotenv==1.2.2
python-multipart==0.0.32
PyYAML==6.0.3
slowapi==0.1.10
starlette==1.3.0
tinycss2==1.5.1
truststore==0.10.4
typing-inspection==0.4.2
typing_extensions==4.15.0
uvicorn==0.50.0
uvloop==0.22.1
watchfiles==1.2.0
webencodings==0.5.1
websockets==16.0
wrapt==2.2.1
